/* #grid {
    position: relative;
    width: 60%;
    margin: 0 auto;
    padding: 0;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    background-color: red;
}



.clear:after {
    content: "";
}

.square {
    position: absolute;
    top: 0;
    left: 0;
}

 .square_parent {
    list-style-type: none;
    position: relative;
    float: left;
    padding: 0 0 32.16760145166612% 0;
    overflow: hidden;
    visibility: hidden;
}

.square_parent * {
    visibility: visible;
}


.hexagon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
}  */

